<div class="grid grid-cols-12 z-10">
    <div class="col-span-12 md:col-span-5">
        <form>
            <div class="grid grid-cols-2 gap-10">           
                <div class="mb-3">
                    <label class="text-white font-bold text-lg">Entrada</label>
                    <input type="date" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1" id="fechaIngreso">
                </div>
                <div class="mb-3">
                    <label class="text-white font-bold text-lg">Salida</label>
                    <input type="date" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1" id="fechaSalida">
                </div>
                <div class="mb-3">
                    <label class="text-white font-bold text-lg">Nombre</label>
                    <input type="text" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1" id="Nombre">
                </div>
                <div class="mb-3">
                    <label class="text-white font-bold text-lg">Cedula</label>
                    <input type="text" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1" id="cedula">
                </div>
                <div class="col-span-2">
                    <button id="envioReserva" class="py-3 bg-amber-500 text-white w-full hover:bg-amber-400 text-xl">Reservar</button>
                </div>
            </div>
        </form>
    </div>
</div>
